@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply p-0 min-h-screen;
    }
    h1 {
        @apply font-bebasNeue text-3xl;
    }
    h2 {
        @apply text-xl md:mt-10 mt-6 mb-2;
    }
    h3 {
        @apply text-4xl font-bebasNeue;
    }
    h4 {
        @apply text-sm uppercase font-bold;
    }
    h5 {
        @apply text-2xl;
    }
   hr {
             @apply mt-8 mb-4;
         }
    p {
        @apply text-gray.700 pt-2 ;
    }
    ul {
        @apply list-disc pl-4 leading-loose;
    }
    p a {
        @apply text-white.100;
    }
    code {
        @apply text-gray.700 px-3 py-1 border-gray.500 border rounded text-sm ;
    }
    blockquote {
        @apply m-4 pl-4 border-l-4 border-gray.500;
    }
}

@layer components {
}

@layer utilities {
    @variants responsive {
        .scroll-snap-none {
            scroll-snap-type: none;
        }
        .scroll-snap-x {
            scroll-snap-type: x;
        }
        .scroll-snap-y {
            scroll-snap-type: y;
        }
    }
}

